@{
    ViewBag.Title = "Home Page";
}
<div id="main">
    <div style="padding:30px 0;">
        <div class="jumbotron">
            <h3>Rental movies or TV shows</h3>
            <p class="lead" style="font-size:13px;">Through the iTunes Store, you can buy or rent movies,1 buy TV episodes and season passes,1 and download videos to watch without an Internet connection.2 If you don’t watch your video right away, you can find it later in the Library of the Apple TV App or Videos app,3 or search for it again in the iTunes Store. You can also see the movies and TV shows that you previously bought in the Purchased tab of the iTunes Store.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-sm">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h4>Movies</h4>
            <p style="font-size:13px;">
                fter you buy a movie or TV show from the iTunes Store, you can stream it on the device that you bought it on or on any of your other devices, as long as you're signed in with the same Apple ID.
            </p>
            <p><a class="btn btn-info btn-sm" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h4>Drama</h4>
            <p style="font-size:13px;">fter you buy a movie or TV show from the iTunes Store, you can stream it on the device that you bought it on or on any of your other devices, as long as you're signed in with the same Apple ID.</p>
            <p><a class="btn btn-info btn-sm" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h4>Web Series</h4>
            <p style="font-size:13px;">fter you buy a movie or TV show from the iTunes Store, you can stream it on the device that you bought it on or on any of your other devices, as long as you're signed in with the same Apple ID.</p>
            <p><a class="btn btn-info btn-sm" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>